@model Cerveja.Models.Vendedor

@{
    ViewData["Entidade"] = "Vendedor";
    ViewData["Title"] = "Detalhes";
}
<h1>@ViewData["Entidade"]</h1>
<h2>@ViewData["Title"]</h2>
<hr />

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salario)
        </dd>

        <dt>Departamento</dt>
        <dd>
            @Html.DisplayFor(model => model.Departamento.Nome)
        </dd>

        <!-- Botões -->
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
            <a asp-action="Index">Voltar</a>
        </div>
    </dl>
</div>